.container {
    display: flex;
    flex-direction: column;
    background-image: url('/src/assets/decor.png');
    background-repeat: no-repeat;
    background-position: top left;  
    background-size: 100%;      
    position: relative;
}

.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 730px;
    flex-shrink: 0;
}

.logoLink {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.logoImage {
    height: 40px;
    width: auto;
    display: block;
}

.title {
    color:#FF671D;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
}

.emoji {
    width: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 700px;
    width: 850px;
    margin:30px auto;
    background: #5DB84559;
    border:2px solid  #5DB84569;
    border-radius: 69px;
    padding-bottom: 30px;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    border-radius: 24px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.userMsg {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    color:#fff;
     -webkit-text-stroke: 10px #464646;
    paint-order: stroke fill;
    max-width: 70%;
    word-wrap: break-word;
}

.botMsg {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    color: #FF6720;
    -webkit-text-stroke: 10px #FFF;
    paint-order: stroke fill;
    max-width: 70%;
    word-wrap: break-word;
}

.input {
    background-color: #FFF;
    flex: 1;
    border: 2px solid #FF671D;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    outline: none;
    padding: 0 0 0 44px;
    height: 75px;
    width: 720px;
    color: #464646;
}

.pandaImage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
}

.chatBox {
    scrollbar-width: none;
}

.chatBox::-webkit-scrollbar {
    display: none;
}