.overlay {
    min-height: 100vh;
    background: url('/src/assets/fon.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 3px 15px;
    display: flex;
    align-items: center;
    gap: 750px;
    flex-shrink: 0;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoImage {
    height: 30px;
    width: auto;
    display: block;
}

.title {
    color:#FF671D;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bolder;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 21px solid #FF671D;
    border-radius: 164px;
    background-color: #FFF;
    color: #464646;
    width: 557px;
    max-height: 650px;
    padding: 65px 75px 30px;
    margin: 30px auto 0;
}

h2 {
    color: #464646;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
}

.emotionScale {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 15px 0 40px;
    flex-wrap: wrap;
}

.emotionBtn {
    color: #464646;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    flex: 1;
    min-width: 90px;
    background-color: transparent;
    border: none;
}

.emotionBtn.selected .value{
    display: flex;
    border-radius: 50%;
    border: 2px solid #FF671D;
    width: 30px;
    height: 30px;
    align-items: center;     
    justify-content: center;
    margin: 0 auto; 
}

.emoji {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 35px;        
    height: 35px;
    font-weight: bold;
}

.textarea {
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #46464617;
    border-radius: 6px;
    font-size: 16px;
    margin: 0 auto;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin: 3px 85px 50px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.taskBlock {
    text-align: start;
    margin: 0 85px;
}

.taskTitle {
    font-size: 24px;
    font-weight: bold;
}

.taskContent {
    font-size: 24px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.taskImage {
    width: 85px;
    height: auto;
}

.submitBtn {
    width: 300px;
    background-color: #FF671D;
    color: #FFF;
    border: 6px solid #FF671D;
    border-radius: 6px;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
    margin: 30px auto 0;
    transition: background 0.2s;
}

.submitBtn:hover:not(:disabled) {
    background: transparent;
    border: 3px solid #FF671D;
    color:#FF671D;
}

.submitBtn:disabled {
    opacity: 0.6s;
    cursor: not-allowed;
}