.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 3px 15px;
    display: flex;
    align-items: center;
    gap: 550px;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoImage {
    height: 30px;
    width: auto;
    display: block;
}

.title {
    color:#FF671D;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bolder;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    padding: 15px 20px 0;
    border-top: 2px solid #FF671D;
    border-right: 2px solid #FF671D;
}

.menuTitle {
    color: #464646;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.link, .activeLink {
    align-items: center;
    display: block;
    padding: 15px 45px ;
    white-space: nowrap;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s;
    background-color: #FF671D;
    color: #FFF;
    font-size: 15px;
}

.link:hover {
    background-color: transparent;
    color:#FF671D;
    border: 2px solid #FF671D;
}

.activeLink {
    color:#FF671D;
    background-color: transparent;
    border: 2px solid #FF671D;
}

.panda {
    width: 200px;
    position: fixed;
    bottom: 0;
    left: 15px;
}

.content {
    padding: 30px 100px;
}